.layer_banner {display: flex; justify-content: center; align-items: center; position: fixed; z-index: 100; width: 1080px; top: 700px !important; }
#banner_area {cursor: pointer;  position: relative; box-shadow:6px 6px 9px rgba(67,67,67,.3);}
.popup_close {font-size: 56px; position: absolute; top: 0px; right: 24px;}